asgiref
Brotli
cffi
charset-normalizer
cssselect2
Django
django-widget-tweaks
flatbuffers
fonttools
geographiclib
geopy
h3
icalendar
numpy
pillow
pycparser
pydyf
pyphen
python-dateutil
reportlab
six
sqlparse
timezonefinder
tinycss2
tinyhtml5
typing_extensions
tzdata
weasyprint
webencodings
zopfli
